@mixin font ($color, $size, $weight, $family ,$style ,$hight){
    color:$color;
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    font-style: $style;
    line-height: $hight;
}