@import "../global";

.room {
  margin:83px 0 110px;
  &__title {
    @include font(#14274a, 36px, normal, $font-mont, normal, 44px);
    text-align: center;
  }
  &__suptitle {
    @include font(#14274a, 50px, bold, $font-slab, normal, 72px);

    letter-spacing: 0.02em;
  }
  &__text {
    @include font(#14274a, 25px, normal, $font-mont, normal, 40px);
    margin-top: 25px;
  }
  &__button {
    background-color: $color-milk;
    padding: 20px 65px;
    color: $color-white;
    border-radius: 5px;
    @include font($color-white, 20px, normal, $font-mont, normal, 24px);
    margin-top: 30px;
  }
  &__main-row{
    margin-top: 72px;
    display: flex;
    align-items: center;
    // :nth-child(2){
    //   margin-top: 172px;
    // }
  }
  &__img{
   padding-left:7px;
    max-width: 100%;
    min-height: 487px;
  }
  &__row2{
      display: flex;
      flex-direction: column;
      align-items: center;
     
  }
  &__subtopic {
    @include font(#14274a, 60px, bold, $font-slab, normal, 72px);
    text-align: center;
    margin-top: 115px;
  }
  &__words {
    @include font(#14274a, 30px, normal, $font-mont, normal, 37px);
    text-align: center;
    margin-top: 26px;
  }
  &__address{
    @include font(#14274a, 20px, normal, $font-mont, normal, 30px);
    text-align: center;
    margin-top: 19px;
  }
  &__scroll{
    margin-top: 23px;
    margin-right: 20px;
  }
  &__row{
    border-left: 2px #14274a solid;
    padding-left: 48px;
  }
  
}
